*{
    margin: 0;
    padding: 0;
}
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@800&display=swap');

/* About Section */
 .About{
   width:auto;
   background-color: antiquewhite;
   background-image: url('About\ Background.jpg');
   background-size:cover;
   background-repeat: no-repeat;
   padding: 5%;
   font-family: 'Outfit', sans-serif;
   text-align: center;
   
}  
#AboutText{

    color: black;
    font-weight: 1200;
    font-size: 100px;
    font-weight: bolder;
    text-wrap: wrap;
    text-align: center;
}
.AboutColum{
    display: flex;
    padding:3% 10%;
} 
.AboutColum p{
    font-weight: 400;
    font-size: 25px;
    line-height: 200%;
    text-wrap: wrap;
   
}
.AboutColum img{
    width: 550px;
    height: 350px;
    box-shadow: 50px 50px 0px rgba(148, 158, 251, 0.65);
}

.AboutColum img:hover{
    box-shadow: 40px 40px 0px rgba(148, 158, 251, 0.65);
    transition: cubic-bezier(0.23, 1, 0.320, 1);
} 

@media only screen and (min-width: 1440px) {
    body {
      background-color: rgb(0, 0, 0);
    }
    .AboutColum p{
        padding-right: 6%;
    }
   
}


/* Large Laptops */

@media only screen and (max-width: 1440px) {
    body {
      background-color: lightgreen;
    }
    .AboutColum p{
        padding-right: 6%;
    }
    .AboutColum{
        display: flex;
        flex-direction: column;
    }
    .AboutColum p{
        font-size: 24px;
        margin-bottom: 5%;
    }
   
}


/* Medium Laptops */
@media only screen and (max-width: 1024px) {
    body {
      background-color: red;
    }

    #AboutText{
        font-size: 100px;
    }
    .AboutColum img{
        width: 450px;
        height: 280px;
    }
    .AboutColum p{
        font-size: 20px;
    }
    .AboutColum img{
       
        box-shadow: 35px 35px 0px rgba(148, 158, 251, 0.65);
    }
}


/* Tabs */

@media only screen and (max-width: 768px) {
    body {
      background-color: orange;
    }
    .AboutColum img{
        width: 300px;
        height: 180px;
    }
    .AboutColum p{
        font-size: 15px;
    }
    .AboutColum img{
       
        box-shadow: 25px 25px 0px rgba(148, 158, 251, 0.65);
    }
}
@media only screen and (max-width: 425px) {

    #AboutText{
        font-size: 50px;
    }
    .AboutColum p{
        font-size: 13px;
        margin-bottom: 15%;
    }
  .Registration a{
    font-size: 20px;
  }
    .AboutColum img{
        width: 220px;
        height: 120px;
        margin-bottom: 15%;
    }
    .Registration .button{
        font-size: 15px;
    }
}

@media only screen and (max-width: 375px) {
    .AboutColum p{
        font-size: 12px;
        margin-top: 1%;
        margin-bottom: 10%;
    }
    .AboutColum img{
        width: 250px;
        height: 150px;
        margin-bottom: 15%;
    }
}

@media only screen and (max-width: 320px) {
    .AboutColum p{
        font-size: 11px;
        
    }
}
*{
   
    font-family: 'Outfit', sans-serif;
   
    /* border: 2px solid red; */
}

.EventsTab{
    width: 98.5vw;
    height: auto;
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.EventText{
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
    color: #E4FFD3;
    margin-top: 5%;
    color: transparent; 
        background-image: url('About\ Background.jpg'); 
        background-size:contain; 
        background-clip: text; 
        -webkit-background-clip: text; 
    
}
.EventsList{
    width: 80vw;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding:8% 8%;
    z-index: 4;
}
.EventPic{
    width: 50%;
}
.EventPic img{
    width: 550px;
    height: 350px;
    box-shadow: 30px 30px 0px rgba(189 , 255, 0, 1);  
     
}
.EventDetails{
    padding-top: 8%;
}
.EventDetails h1{
    color: white;
    font-size: 50px;
    text-align: left;
 }
 .WhiteSpace{
    margin: 5%;
 }
 .EventDetails p{
    color: white;
    font-size: 18px;
    text-align: left;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 200%;
    padding: 40px 0;
}

 
.Registration .button{
    background-color: #0037C4;
    width: 150px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    margin-left: 0;
    text-decoration: none;
    text-decoration-style: none;
}
.Registration a{
    padding: 20px 10px;
    color: white;
    font-weight: bold;
    margin-left: 3%;
    font-family: sans-serif;
    
    
} 

.EventPic h3{
    z-index: -1;
    font-size: 100px;
    font-family: 'Noto Sans Meetei Mayek', sans-serif;
    font-weight: bolder;
    background-image: linear-gradient(to bottom, #3879F5, #000E33,#000E33);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
    margin: 0%;
    margin-bottom: -8%;
 }

 .Eventline{
    width: 90%;
    height: 2px;
    background-color: rgb(79, 79, 79);
 }
 @media only screen and (min-width: 1440px) {}



 @media only screen and (max-width: 1124px) {
     .EventPic img{
        width: 400px;
        height: 250px;
        box-shadow: 25px 25px 0px rgb(212, 255, 0);  
     } 
     .EventPic h3{
         font-size: 70px;
      }
      .EventDetails h1{
         font-size: 45px;
      }
      
      .EventDetails p{
          font-size: 16px;   
          padding: 20px 0px;      
      }
      .EventDetails {
         
         width:60%;}
 }
 @media only screen and (max-width: 922px) {
     .EventPic img{
         width: 500px;
         height: 350px;
         box-shadow: 25px 25px 0px rgb(212, 255, 0);  
      } 
 }
 
 @media only screen and (max-width: 930px) {
     .EventPic img{
         width: 400px;
         height: 250px;
         box-shadow: 25px 25px 0px rgb(212, 255, 0);  
      } 
     .EventsList{
         display: grid;
         margin-top: 6%;
         text-align: center; 
     }
     .EventDetails{
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
     }
     .Registration{
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: row;
     }
     .EventPic h3{
         margin-bottom: -12%;
         margin-left: -50%;
     }
 }
 @media only screen and (max-width: 450px) {
    .EventText{
        
        font-size: 35px;
        color: #E4FFD3;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .light{
        width: 250px;
    height: 250px;
        
    }
     .EventPic img{
        width: 240px;
        height: 150px;
        box-shadow: 15px 15px 0px rgb(212, 255, 0);  
     } 
     .EventDetails h1{
        font-size: 30px;
     }
     .EventDetails p{
        font-size: 13px;
     }
     .Registration button{
       
        width: 130px;
        height: 48px;
        font-size: 13px;
    }
    .Registration a{
        font-size: 10px;
        width: 40%;
    }
    .EventPic h3{
        font-size: 50px;
        margin-bottom: -20%;
     }
}

@media only screen and (max-width: 400px) {
    
}

@media only screen and (max-width: 350px) {
    
}

